body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.switch_text {
  display: none;
}

#container {
  position: relative;
  height: 400px;
  width: 90%;
  border: 1px solid skyblue;
  background-color: aliceblue;
  margin-left: 4%;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 340px;
}

#bird {
  position: absolute;
  background: url("../images/bird.png");
  height: 42px;
  width: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 20%;
  left: 15%;
}

.pole {
  position: absolute;
  height: 130px;
  width: 50px;
  background-color: red;
  right: -50px;
  border-radius: 5px;
}

#pole_1 {
  top: 0;
}

#pole_2 {
  bottom: 0;
}

#score_div {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
}

#restart_btn {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px;
  background-color: fuchsia;
  color: #fff;
  font-size: 35px;
  border: none;
  cursor: pointer;
  display: none;
  transition: 0.1s ease;
}

.slide {
  display: block;
}

@media (max-width: 500px) {
  .switch_text {
    z-index: 1000;
    position: fixed;
    top: 50%;
  /*  height: 100%;*/
    width: 100%;
    font-family: "helvetica";
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 12px;
    letter-spacing: 0px;
    background-color: #111;
    opacity: 0.8;
    padding: 20px;
    color: #eee;
    display: block;
    border-radius: 20px;
    }
}



