body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: grey;
  font-family: helvetica;
}

.switch_text {
  display: none;
}

.loaded .pre_logo {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.pre_logo {
  z-index: 3000;
  position: fixed;
/*  height: 100%;*/
  width: 100%;
  font-family: "helvetica";
  text-transform: uppercase;
  line-height: 0.8;
  font-size: 12px;
  letter-spacing: 10px;
  color: #eee;
}

#loader-wrapper {
  position: fixed;
  height: 100%;
  background-color: #eee;
  z-index: 1500;
  width: 100%;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  margin: -35px 0 0 -35px;
  border: 3px solid transparent;
  border-top-color: #3498db;
  z-index: 2000;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #e73c3c;
  border-radius: 50%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #111;
  z-index: 1999;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);  /* IE 9 */
  transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);  /* IE 9 */
  transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
  opacity: 0;
}

.loaded #loader-wrapper {
  visibility: hidden;
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out;
}

/*.loaded #loader-wrapper {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

  -webkit-transition: all 0.3s 0.6s ease-out;
  transition: all 0.3s 0.6s ease-out;
}*/

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

/*.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);

        -webkit-transition: all 0.3s 1s ease-out;
                transition: all 0.3s 1s ease-out;
}*/

.no-js #loader-wrapper {
    display: none;
}


#wrapper {
  position: relative;
  height: 90vh;
  width: 80%;
  background-color: skyblue;
  overflow: hidden;
  border-radius: 5px;
  max-width: 340px;
  margin: 0 auto;
  margin-top: 20px;
/*  width: 1000px;*/
/*  height: 1000px;*/
}

.cloud, #cloud_1 {
  position: absolute;
  margin-left: 48%;
  background-color: #fff;
  background: url("../images/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  opacity: 0.9;
}

#cloud_2 {
  top: 100px;
  left: -150px;
}

#cloud_3 {
  top: 200px;
  left: 60px;
}

#cloud_4 {
  top: 320px;
  left: -100px;
}

#shuttle {
  position: absolute;
  height: 120px;
  width: 120px;
  bottom: 3%;
  left: 60%;
  background: url("../images/space-shuttle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.monster, #monster_1 {
  position: absolute;
  height: 100px;
  width: 50px;
  background: url("../images/monster_shuttle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#monster_1 {
  top: -290px;
}

#monster_2 {
  top: -400px;
  left: 50px;
}

#monster_3 {
  top: -120px;
  left: 200px;
}

#monster_4 {
  top: -600px;
  left: 130px;
}

#monster_5 {
  top: -300px;
  left: 150px;
}

#fire {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  bottom: 20%;
  left: 68%;
  background-color: #fff;
  border: 3px dotted green;
  opacity: 0;
/*  border: solid 1px red;*/
}

#restart_div {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #292929;
  color: white;
  font-family: helvetica;
  font-size: 40px;
  text-align: center;
  display: none;
}

#restart {
  border: none;
  padding: 25px;
  color: white;
  background-color: #8a64ff;
  font-size: 20px;
  margin-top: 30%;
  border-radius: 20px;
}
.animateUp {
  margin-bottom: 500px;
  transition: 0.5s ease;
}

.class_1 {
  margin-left: 500px;
/*  bottom: 1000px*/;
  transition: 0.1s;
}

#score_div {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  font-size: 20px;
  color: #fff;
  font-family: helvetica;
  padding: 10px;
  background-color: orange;
  border-radius: 10px;
}


#score {
  color: blue;
}


.none {
  display: none;
}

@media (max-width: 500px) {
  .switch_text {
    z-index: 1000;
    position: fixed;
    top: 50%;
  /*  height: 100%;*/
    width: 100%;
    font-family: "helvetica";
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 12px;
    letter-spacing: 0px;
    background-color: #111;
    opacity: 0.8;
    padding: 20px;
    color: #eee;
    display: block;
    border-radius: 20px;
    }
}
