body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: grey;
  font-family: helvetica;
}

.switch_text {
  display: none;
}

.controls {
  font-size: 15px;
}

#controls {
  position: fixed;
  border: 3px solid orange;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  display: none;
  margin-left: 20px;
}

#wrapper {
  position: relative;
  height: 90vh;
  width: 80%;
  background-color: skyblue;
  overflow: hidden;
  border-radius: 5px;
  max-width: 340px;
  margin: 0 auto;
  margin-top: 20px;
/*  min-height: 50%;*/
/*  width: 1000px;*/
/*  height: 1000px;*/
}

.cloud, #cloud_1 {
  position: absolute;
  margin-left: 48%;
  background-color: #fff;
  background: url("../images/cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  opacity: 0.9;
}

#cloud_2 {
  top: 100px;
  left: -150px;
}

#cloud_3 {
  top: 200px;
  left: 60px;
}

#cloud_4 {
  top: 320px;
  left: -100px;
}

#shuttle {
  position: absolute;
  height: 120px;
  width: 120px;
  bottom: 3%;
  left: 60%;
  background: url("../images/space-shuttle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.monster, #monster_1 {
  position: absolute;
  height: 100px;
  width: 50px;
  background: url("../images/monster_shuttle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#monster_1 {
  top: -290px;
}

#monster_2 {
  top: -400px;
  left: 50px;
}

#monster_3 {
  top: -120px;
  left: 200px;
}

#monster_4 {
  top: -600px;
  left: 130px;
}

#monster_5 {
  top: -300px;
  left: 150px;
}

#fire {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  bottom: 20%;
  left: 68%;
  background-color: #fff;
  border: 3px dotted green;
  opacity: 0;
/*  border: solid 1px red;*/
}

#restart_div {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #292929;
  color: white;
  font-family: helvetica;
  font-size: 40px;
  text-align: center;
  display: none;
}

#restart {
  border: none;
  padding: 25px;
  color: white;
  background-color: #8a64ff;
  font-size: 20px;
  margin-top: 30%;
  border-radius: 20px;
}
.animateUp {
  margin-bottom: 500px;
  transition: 0.5s ease;
}

.class_1 {
  margin-left: 500px;
/*  bottom: 1000px*/;
  transition: 0.1s;
}

#score_div {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  font-size: 20px;
  color: #fff;
  font-family: helvetica;
  padding: 10px;
  background-color: orange;
  border-radius: 10px;
}


#score {
  color: blue;
}


.none {
  display: none;
}

@media (max-width: 500px) {
  .switch_text {
    z-index: 1000;
    position: fixed;
    top: 50%;
  /*  height: 100%;*/
    width: 100%;
    font-family: "helvetica";
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 12px;
    letter-spacing: 0px;
    background-color: #111;
    opacity: 0.8;
    padding: 20px;
    color: #eee;
    display: block;
    border-radius: 20px;
    }
}

@media (min-width: 900px) {

  #controls {
    display: block;
  }

}
/*@media (max-height: 500px) {
  #wrapper {
    height: 100vh;
  }
}*/
