body {
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
/*  overflow-y: hidden;*/
}

/*#fullpage {
  height: 100vh;
  overflow: hidden;
}*/

/*#fullpage section {
  height: 100vh;
}*/

.wrapper-Y {
  height: 100vh;
}
.wrapper {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}


.wrapper-2 {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%, -50%);
}

.wrapper-3 {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.wrapper-4 {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
}

.wrapper-cover {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  height: 500px;
  width: 300px;
}

.heading {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 10px;
}

.heading:hover {
  color: #c6ff02;
  letter-spacing: 18px;
}

.para {
  text-transform: uppercase;
  font-family: 'Futura', sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 4px;
}

.text-3 {
  background-color: #000;
  color: #fff;
  letter-spacing: 10px;
}

.text-4 {
/*  color: #addf00;*/
}

.slide-1,
.slide-2 {
  display: none;
}
.slide {
  height: 100%;
}

.hide {
  display: none;
}


.wrapper-nav {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 550px;
  transform: translate(-50%, -50%);
}

.navbar {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 273px;
  left: 210px;
}

.navbar div {
  height: 2px;
  padding: 0;
  line-height: 0;
  width: 20px;
  background-color: #000;
  position: absolute;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.navbar .first {
  top:40px;
  left: 20px;
}

.navbar .second {
  top: 45px;
  left: 20px;
}

.navbar .third {
  top: 50px;
  left: 20px;
}

.hamburger-1 {
  transform: translateY(1px) rotate(40deg);
  transition: all 0.1s;
}

.hamburger-2 {
  opacity: 0;
  transition: all 0.1s;
}

.hamburger-3 {
  transform: translateY(-10px) rotate(-40deg);
  transition: all 0.1s ease;
}

/*.slide:hover {
  filter: invert();
}*/

.cover:hover {
  filter: invert();
}


/* MOBILE MENU TOGGLED*/

.mobile-nav {
  background: rgba(198,255,2,1);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  color: #000;
  transition: 0.5s;
  display: none;
  background: url("file:///Users/haanibokhari/Desktop/ALL%20OF%20MY%20APPS/My%20Portfolio/Danny/images/danny5.jpg");
  filter: invert(70%);
}

.wrapper-mobile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mobile-nav ul li a,
.mobile-nav ul li a:link,
.mobile-nav ul li a:active,
.mobile-nav ul li a:visited {
  text-decoration: none !important;
  list-style: none !important;
}

ul li {
  list-style: none;
}

.nav-link1 {
  color: rgba(198,255,2,1);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 10px;
  margin-left: 5px;
  line-height: 30px;
  background-color: #000;
  cursor: pointer;
}

.nav-link13 {
  color: orange;
}


.nav-link1:hover {
  color: #ddd;
  cursor: pointer;
  letter-spacing: 12px;
  background-color: black;
/*  transition: 0.1s ease;*/
  font-size: 10px;
}

.nav-link12 {
 text-decoration: none;
 color: #eee;
}

hr {
  color: #000;
  width: 50px;
  border: 1px solid #fff;
}

.show {
  display: block !important;
}

 .slideInRight {
  display: block;
  animation-duration: 0.3s;
}

/*PAGE 2*/
.wrapper-new-page {
  height: 100vh;
  background-color: #fff;
  width: 100%;
}

.wrapper-new-content {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.wrapper-new-nav {
  height: 70px;
}

.logoDanny {
  width: 70px;
  position: relative;
  top: 8px;
  left: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  -webkit-transition: 0.2s;
}

.logoDanny:hover {
  filter: invert();
  transform: rotate(-360deg);
  transition: 0.2s ease;
/*  top: 0px;*/
  -webkit-transition: 0.2s;
}

.new-nav-heading {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  margin-left: 10px;
}

.wrapper-nav-2 {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 550px;
  transform: translate(-50%, -50%);
}

.navbar-2 {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 263px;
  left: 210px;
}

.navbar-2 div {
  height: 2px;
  padding: 0;
  line-height: 0;
  width: 20px;
  background-color: #000;
  position: absolute;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.navbar-2 .first-cross {
  top:40px;
  left: 20px;
  transform: translateY(0px) rotate(40deg);
}

.navbar-2 .second-cross {
  top: 45px;
  left: 20px;
  transform: translateY(-5px) rotate(-40deg);
}

.navbar-2:hover .first-cross {
  transform: translateY(0px) rotate(-90deg);
  transition: all 0.1s;
  background-color: rgba(198,255,2,1);
}


.navbar-2:hover .second-cross {
  transform: translateY(-5px) translateX(5px) rotate(90deg);
  transition: all 0.1s ease;
  background-color: rgba(198,255,2,1);
}

.main-bg-picture {
  width: 100%;
  height: 400px;
/*  background-size: cover;*/
  background-position: 50% 50%;
  position: relative;
  top: 70px;
}

.main-bg-2 {
  background-color: #000;
  height: 400px;
  width: 70%;
  position: relative;
  right: 20px;
  top: 50px;
  background: url("file:///Users/haanibokhari/Desktop/ALL%20OF%20MY%20APPS/My%20Portfolio/Danny/images/bg-2-danny.jpg");
  background-size: cover;
  background-position: 50% 50%;
  filter: invert(100%);
  transition: 0.1s ease;
}

.main-bg-2:hover {
  filter: grayscale();
}

.hover-bg-1 {
 right: 0px;
 transition: 0.1s ease;
}

.main-bg-201 {
  height: 400px;
  width: 30%;
  position: relative;
  bottom: 300px;
  left: 70%;
  background: url("file:///Users/haanibokhari/Desktop/ALL%20OF%20MY%20APPS/My%20Portfolio/Danny/images/bg-201-danny.jpg");
  background-size: cover;
  background-position: 50% 50%;
  filter: invert(100%);
  transition: 0.1s ease;
}

.main-bg-201:hover {
  filter: grayscale();
}

.hover-bg-2 {
  bottom: 350px;
  transition: 0.1s ease;
}

.line {
  background-color: blue;
  width: 50px;
  height: 2px;
}

/* PAGE 3*/

.page-3 {
  background-color: #000;
}

.main-bg-3 {
  background-color: #000;
  height: 400px;
  width: 50%;
  position: relative;
  right: 20px;
  top: 50px;
  background: url("file:///Users/haanibokhari/Desktop/ALL%20OF%20MY%20APPS/My%20Portfolio/Danny/images/bg-3-danny.jpg");
  background-size: cover;
  background-position: 50% 50%;
/*  filter: invert(100%);*/
  transition: 0.1s ease;
  filter: invert();
}


.invert-color {
  filter: invert();
}

.main-bg-301 {
  height: 400px;
  width: 30%;
  position: relative;
  bottom: 300px;
  left: 40%;
  background: url("file:///Users/haanibokhari/Desktop/ALL%20OF%20MY%20APPS/My%20Portfolio/Danny/images/bg-301-danny.jpg");
  background-size: cover;
  background-position: 50% 50%;
/*  background-position-y: 80px;*/
  background-repeat: no-repeat;
/*  filter: grayscale();*/
  filter: saturate(150%);
  transition: 0.1s ease;
}

.main-bg-302 {
  height: 400px;
  width: 30%;
  position: relative;
  bottom: 750px;
  left: 70%;
  background: url("file:///Users/haanibokhari/Desktop/ALL%20OF%20MY%20APPS/My%20Portfolio/Danny/images/bg-302-danny.jpg");
  background-size: cover;
  background-position: 50% 50%;
  transition: 0.1s ease;
  filter: invert();
}

.hover-bg-301 {
bottom: 400px;
filter: grayscale(0%);
opacity: 0;
}

.hover-bg-302 {
  bottom: 800px;
  filter: invert(0%);
}

.hover-bg-3 {
  filter: invert(0%);
  width: 70%;
  top: 150px;
}

/* PAGE 4 */

.page-4-logo {
  top: 0px;
  width: 400px;
  transition: 0.2s ease;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page-4-logo:hover {
  transition: 0.2s ease;
  transform: translate(-50%, -50%);
  width: 700px;
}

.page-4-content {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ux-text {
  top: 10%;
  font-size: 10px;
  letter-spacing: 0px;
}

.ux-text:hover {
  letter-spacing: 5px;
  color: orange;
}

.text {
  position: absolute;
  top: 400px;
  transition: 0.2s ease;
}

.text-para {
  font-size: 72px;
  color: #000;
  font-family: helvetica;
  letter-spacing: -4px;
  line-height: 60px;
  margin-left: 20px;
  font-weight: 800;
  transition: 0.2s ease;
}

.slideLeft {
  margin-left: 120px;
  transition: 0.2s ease;
}

.main-bg-3 {
/*  padding-top: 100px;*/
}

.hover-area {
  height: 300px;
  padding-top: -30px;
}
