body,html {
  overflow-x: hidden;
}


.catchScroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}


.tint {
  min-height: 720px;
  width: 100%;
  background: url("../images/shorpy.jpg");
  background-size: cover;
  background-position-y: 70%;
  background-position-x: 30%;
  position: relative;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
}

.tint:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(3,3,3,0.3);
}


#logo {
  height: 30px;
  margin: 10px;
  padding: 0;
  z-index: 1000;
}

#absolut {
  position: absolute;
  top: 33%;
}

.heading {
  font-family: "Abril Fatface";
  color: #eee;
  font-size: 40px;
  line-height: 0.8;
  text-align: center;
}

.n {
  font-size: 70px;
}

.small {
  font-size: 13px;
  font-family: "futura";
  font-weight: 100;
  text-align: center;
  margin: 20px;
  line-height: 1;
}

.btn-secondary {
  font-family: "futura";
  position: relative;
  left: 50%;
}
/*
.btn-secondary:hover {
  filter: invert();
}*/

.wrapper {
  position: absolute;
  top: 0%;
  left: 100%;
  width: 550px;
  transform: translate(-50%, -50%);
    z-index: 1000;
}

.navbar {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
/*  bottom: 265px;*/
  left: 220px;
  top: -20px;
}

.navbar div {
  height: 2px;
  padding: 0;
  line-height: 0px;
  width: 20px;
  background-color: #fff;
  position: absolute;
  transition: all 0.5s ease;
  border-radius: 20px;
}

.navbar .first {
  top: 40px;
  left: 20px;
}

.navbar .second {
  top: 45px;
  left: 20px;
}

.navbar .third {
  top: 50px;
  left: 20px;
}


.hamburger-1 {
  transform: translateY(0px) rotate(40deg);
  transition: all 0.1s;
}

.hamburger-2 {
  opacity: 0;
  transition: all 0.1s;
}

.hamburger-3 {
  transform: translateY(-10px) rotate(-40deg);
  transition: all 0.1s ease;
}

/* Mobile nav */

.mobile-nav ul li a,
.mobile-nav ul li a:link,
.mobile-nav ul li a:active {
  text-decoration: none !important;
  color: #fff;
  list-style: none;
}

.mobile-nav ul li a:hover {
  color: ddd;
  text-decoration: none !important;
  list-style: none;
}

.mobile-nav ul li a:visited {
  text-decoration: none !important;
  color: #fff;
  list-style: none;
}

.mobile-nav {
    background: rgba(0,0,0,1);
    width: 100%;
    min-height: 100vh;
    position: fixed !important;
    z-index: 2;
    top: 0;
    color: #000;
    transition: 0.1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s !important;
  -ms-transition-animation-duration: 1s
  -webkit-animation-duration: 1s !important;
-moz-animation-duration: 1 !important;
display: none;
}

#list {
  list-style none;
  font-size: 80px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  line-height: 1;
}

.slideInDown {
  animation-duration: 0.3s !important;
  display: block;
}

.nav-link1 {
  transition: 0.1s ease;
}

.nav-link1:hover {
  font-size: 90px;
  transition: 0.1s ease;
  cursor: pointer;
}


/**/

#second_section {
  margin: 10px;
  padding: 10px;
}

.black {
  color: #111;
  line-height: 1;
  font-size: 50px;
}

.futura {
  font-family: "futura";
}

.height {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 200;
}

.small-heading {
  font-size: 30px;
}

.col {
  background-color: #111;
  color: #fff;
  padding: 15px;
}

.col-wrapper {
  text-align: center;
  border: 5px solid #111;
  border-radius: 10px;
  padding-bottom: 20px;
}

.design-icon {
  padding: 50px 0;
  border-bottom: 7px solid #111;
  border-radius: 10px;
  opacity: 0.7;
}

.learn {
  font-family: "futura";
  font-size: 20px;
  letter-spacing: 5px;
  color: #b2d43f;
}

.blue {
  color: #39aced;
}

.red {
  color: #f34254;
}

/**/

.third_section {
  background: url("../images/small.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 30%;
  opacity: 1;
  min-height: 450px;
  position: relative;
}


.workH {
  font-size: 150px;
  line-height: 0.7;
  font-family: "futura";
}

.o {
  font-size: 200px;
}

.absolut {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

.testi {
  color: #fff;
  margin-top: 50px;
}


.work_button {
  background-color: #fff;
  font-size: 50px;
  font-family: "Abril Fatface";
  text-transform: lowercase;
  margin-top: 150px;
  margin-left: 0 auto;
  min-height: 400px;
  transition: 0.1s ease;
}

.work_button:hover {
  filter: invert();
  font-size: 70px;
  transition: 0.1s ease;
}

/**/

.reel {
  min-height: 500px;
  width: 100%;
  background-color: beige;
}

.reel_One {
  background: url("../images/image3.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  transition: 0.1s ease;
}

.reel_Two {
  background: url("../images/78.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  transition: 0.1s ease;
}

.reel_Three {
  background: url("../images/three.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  transition: 0.1s ease;
}

.reel_Four {
  background: url("../images/00.jpg");
  background-size: cover;
  background-position: 80% 50%;
  background-attachment: fixed;
  transition: 0.1s ease;
}

.reel_Five {
  background: url("http://warsaw.leica-gallery.pl/wp-content/uploads/sites/2/2016/08/Maciej-Dakowicz1.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  transition: 0.1s ease;
}

.reel_Six {
  background: url("https://www.worldphoto.org/sites/default/files/199225_214955_0_%20%C2%A9%20Dina%20Alfasi%2C%20Israel%2C%20Shortlist%2C%20Open%20Competition%2C%20Street%20Photography%2C%202017%20Sony%20World%20Photography%20Awards.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  transition: 0.1s ease;
}

.reel_One:hover,
.reel_Two:hover,
.reel_Three:hover,
.reel_Five:hover,
.reel_Six:hover {
  background-position: 80% 80%;
  transition: 0.1s ease;
  cursor: pointer;
}

.reel_Four:hover {
  background-position: 5% 80%;
  transition: 0.1s ease;
  cursor: pointer;
}

.reel_One {
  margin-top: 2rem;
}

#footer {
  text-align: center;
  background-color: #000;
  padding: 50px;
}

.footer_links {
  list-style: none;
  text-decoration: none;
  font-family: futura;
  line-height: 2;
  color: #fff;
  margin-right: 10px;
  max-width: 80px;
  margin: 0 auto;
}


.footer_links:hover {
  background-color: #fff;
  color: #000;
}

.heart {
  font-family: "Abril Fatface";
  font-size: 50px;
  line-height: 0.8;
  background-color: #000;
  color: #fff;
  margin-top: 50px;
  border: 10px solid #fff;
  padding: 20px;
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  background-color: #fff;
  height: 10px;
  margin-top: 20px;
  width: 150px;
}

.case {
  font-size: 80px;
  padding: 50px;
}


/**/

@media (min-width: 768px) {
  .reel_One {
    margin-top: 0;
  }

  .huge {
    font-size: 80px;
  }

  .huger {
    font-size: 120px;
  }

  #absolut {
    left: 10%;
    top: 30%;
  }

  .btn-secondary {
    left: 40%;
  }

  .padding {
    padding: 50px 20px 50px 20px;
  }

  .padding_2 {
    padding-bottom: 20px;
  }

  .col-wrapper {
  }

  #logo {
    height: 40px;
  }

  .playing {
    background-color: #000;
    opacity: 0.7;
    padding: 20px;
    margin-top: 100px;
    line-height: 1.5;
    border-radius: 10px;
  }

  .blue,
  .top {
    position: relative;
    top: 40px;
  }

  .top {
    top: 43px;
  }

}

@media (max-width: 500px) {
  background-attachment:
}

@media (min-width: 1200px) {
  .huge_1 {
    font-size: 120px;
  }

  .huger_1 {
    font-size: 150px;
  }

  .smaller {
    font-size: 25px;
    margin: 50px;
  }

  .n {
        -webkit-animation: colorchange 5s infinite alternate;
        color: skyblue;
  }

  .effect {
    display: block;
    height: 600px;
    width: 10px;
    transform: translate(30%, 30%);
    position: absolute;
    left: 50%;
    top: -20%;
/*    transform: rotate(90deg);*/
    background-color: #fff;
    opacity: 1;
    -webkit-animation: growHeight 1s alternate;
  }


// animation

    @-webkit-keyframes colorchange {
      0% {

        color: blue;
      }

      10% {

        color: #8e44ad;
      }

      20% {

        color: #1abc9c;
      }

      30% {

        color: #d35400;
      }

      40% {

        color: blue;
      }

      50% {

        color: #34495e;
      }

      60% {

        color: blue;
      }

      70% {

        color: #2980b9;
      }
      80% {

        color: #f1c40f;
      }

      90% {

        color: #2980b9;
      }

      100% {

        color: pink;
      }
    }

    @-webkit-keyframes growHeight {
         0% {

        height: 50px;
      }

      10% {

        height: 100px;
      }

      20% {

        height: 150px;
      }

      30% {

        height: 200px;
      }

      40% {

        height: 250px;
      }

      50% {

        height: 300px;
      }

      60% {

        height: 350px;
      }

      70% {

        height: 400px;
      }
      80% {

        height: 450px;
      }

      90% {

        height: 500px;
      }

      100% {

        height: 600px;
      }
    }

}


